body {
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

button {
    font-size: 30px;
    background-color: orangered;

}

.red-color {
    color: white;
}

.section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.red-color {
    color: red;
}

.MISSION-TO {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-area
{
    box-shadow: 10px 10px 40px blue;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-left: 7px solid blueviolet;
    
}
h2{
    font-size: 40px;
}
.experience-item {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#pro
{
    border-left: 7px solid violet;
}
#baby
{
    border-left: 7px solid maroon;
}
footer{
    text-align: center;
    color: brown;
}